/* style.css */
/* Header then Body | Body is Sidebar and Main | Main is Main Header and Main Body */

* {
  box-sizing: border-box;
}

html {
  font-family: "Avenir", sans-serif;
  color: #3E5974;
}

body {
  margin: 0;
  background-color: #3E5974;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3E5974;
  width: 100vw;
  position: sticky;
}

.h-nav-left,
.h-nav-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 15px;
  gap: 10px;
}
#home {
  margin: 0 15px;
  align-self: center;
}

.h-nav-left input#global-search {
  padding: 0;
  border: none;
  border-radius: 3px;
  height: 20px;
  margin-left: 5px
}

.header a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
}

.header img {
  height: auto;
  width: 20px;
  align-self: center;
}

button.cta-nav {
  display: inline-flex;
  align-self: center;
  background-color: inherit;
  color: white;
  font-weight: 300;
  border: 1px solid white;
  border-radius: 3px;
  padding: 2px 5px;
  
}

button.cta-nav:hover {
  background-color: white;
  color: #3E5974;
  border: 1px solid #3E5974;
}

.header .nav {
  background-color: inherit;
  display: inline-flex;
  align-self: center;
  border-radius: 3px;
  border: none;
}

input#global-search {
  height: auto;
  width: auto;
  border: 1px solid white;
  
}

input#global-search::placeholder {
  color: #3E5974;
  padding-left: 5px;
}

.body {
  display: grid;
  grid-template-columns: 80px 1fr;
}

.s-nav {
  background-color: #3E5974;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 14px;
  height: 100vh;
}

.s-nav img {
  color: white;
  height: auto;
  width: 20px;
}

.s-nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
}

.s-nav li {
  margin: 0 0 20px;
  border: 1px solid #3E5974;
  border-radius: 3px;
}

.s-nav a {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-nav li:first-child::after {
  content: "";
  background: rgb(81, 111, 144);
  border: 0px;
  width: auto;
  height: 1px;
  display: block;
  position: relative;
  bottom: -10px;
}


.s-nav li:hover {
  border: 1px solid white;
  border-radius: 3px;
}

.main {
  padding: 5px 20px;
  border-top-left-radius: 5px;
  background-color: white;
}

.m-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-head-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

button.primary {
  background-color: #FF5C35;
  color: white;
  border: 1px solid #FF5C35;
  border-radius: 5%;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  padding: 8px 16px;
}
button.primary:hover {
  background-color: white;
  color: #FF5C35;
}

button.secondary {
  background-color: white;
  color: #FF5C35;
  border: 1px solid #FF5C35;
  border-radius: 5%;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  padding: 8px 16px;
}

button.secondary:hover {
  background-color: #FF5C35;
  color: white;
}

.m-body::before {
  content: "";
  background: #99AFC4;
  border: 0px;
  width: auto;
  height: 1px;
  display: block;
  position: relative;
  bottom: 10px;
}